
.faq-card {
  h2 {
    font-size: 1.5rem;
  }

  iframe {
    max-width: 100%;
  }

  button.toggle-btn {
    white-space: nowrap;
    min-width: 5rem;

    .toggle-btn-innards {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .faq-link-btn {
    color: #6c757d;

    &:hover {
      color: darkblue;
      filter: drop-shadow(1px -2px 4px #eaaa25);
      cursor: pointer;
    }
  }

  .faq-link-notifier {
    position: absolute;
    z-index: 1000;
    margin-top: -1.5rem;
  }
}