.absolute {
  position: absolute !important;
}

.hidden {
  display: none !important;
}

.flex {
  display: flex !important;
}

.flex-col {
  flex-direction: column !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-no-wrap {
  flex-wrap: nowrap !important;
}

// This is imported from the FontAwesome CDN, but having it at the time of page load prevents jittering
.fa-fw {
  text-align: center;
  width: 1.25em;
}
